body{
	background:#E6E6FA;
	font-family:/*Garamond,*/Arial;}

.menudiv{
	top:50px;
	left:0;
	bottom:3px;
	width:135px;
	padding:12px 0 0 12px;
	position:fixed;
	border-right:1px double #C2C2EC;}

.menudiv a{
	display:inline-block;
	width:120px;
	color:white;
	padding:2px;
	margin:2px auto;
	text-align:center;
	background:linear-gradient(#1b95e0,#0c7abf);
	/*border-radius:3px;*/
	border:1px solid #151515;
	text-decoration:none;}

#top-header{
	top:0;
	left:0;
	right:0;
	width:100%;
	color:#d0eafa;
	position:fixed;
	padding:5px 10px;
	background:linear-gradient(#1b95e0,rgb(12,122,191)/*#0c7abf*/);}

#top-header h1{
	margin:0 2px;}

#user-status{
	top:0;
	bottom:0;
	right:30px;
	position:absolute;
	cursor:pointer;
	padding:15px 20px;
	text-align:center;
	text-transform:uppercase;
	background:linear-gradient(#44ABE8,#0687D4);
	transition:all 0.4s ease;}

#user-status:hover{ background:linear-gradient(#6dbbe9,#068bda);}

#infofo{
	margin:80px auto 25px 150px;}


